@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Mouse+Memoirs&family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mouse Memoirs', sans-serif;
}